minor type="changed" "RPC register method is now throwing"
minor type="moved" "RPC registration methods moved to Room"
patch type="deprecated" "RPC registration methods on LocalParticipant deprecated"